    @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins' sans serif;
    }
    
    section {
        position: relative;
        background: #161623;
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section::before {
        content: '';
        position: absolute;
        width: 400px;
        height: 400px;
        background: linear-gradient(#ffc187, #e91e63);
        border-radius: 50%;
        transform: translate(-250px, -120px);
    }
    
    section::after {
        content: '';
        position: absolute;
        width: 350px;
        height: 350px;
        background: linear-gradient(#2196f3, #31ff38);
        border-radius: 50%;
        transform: translate(250px, 150px);
    }
    
    .box {
        position: relative;
        width: 350px;
        /* height: 400px; */
        background: #ffffff1a;
        box-shadow: 0 25px 45px #0000001a;
        border: 1px solid #ffffff40;
        border-right: 1px solid #ffffff33;
        border-bottom: 1px solid #ffffff33;
        border-radius: 10px;
        z-index: 10;
        padding: 10px;
        backdrop-filter: blur(50px);
    }
    
    .box h3 {
        color: aliceblue;
    }
    
    .list {
        display: flex;
        align-items: center;
        width: auto;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 30px;
        border: 2px solid grey;
        cursor: pointer;
        transition: scale(0.5);
    }
    
    .box .list {
        position: relative;
        display: flex;
        padding: 10px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;
        overflow: hidden;
    }
    
    .rounded-img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
        object-fit: cover;
        margin-right: 15px;
        /* padding: 5px; */
        background: #000;
    }
    
    .list .rounded-img>img {
        display: inline-block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 30px;
    }
    
    .content {
        margin: 20px;
    }
    
    .box .list:hover {
        background: #ffffff;
        box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
        transform: scale(1.05) translateX(30px) translateY(-15px);
        z-index: 1000;
    }
    
    .head {
        font-size: x-large;
        font-weight: 200;
    }
    
    .box .list .content {
        display: flex;
        flex-direction: column;
        justify-content: Center;
        color: rgb(white);
    }
    
    .box .list .content .rank {
        position: absolute;
        right: -50px;
        color: aqua;
        transition: 0.5s;
    }
    
    .box .content .list .rank small {
        font-weight: 500;
        opacity: 0.25;
    }
    
    .box .list:hover .content .rank {
        right: 20px;
    }
    
    .names {
        font-size: x-large;
        font-weight: bold;
    }